@model HealthManager.Models.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(Model.Profile != null )
    {
        <h1 class="display-4">Witaj @Model.Profile.FirstName @Model.Profile.LastName </h1>
        <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Edit">Konfiguruj profil</a>
        <div id="bmiZone">
        </div>
        <div id="connectedDevices">
        </div>
        <div id="myMeasurements">
        </div>

    }
    else
    {
        <h1>Nie masz jeszcze profilu.</h1>
        <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Create">Kliknij aby skonfigurować</a>
    }    
</div>
@section Scripts{
    <script>
        $('#bmiZone').load("/Home/Bmi")
        $('#myMeasurements').load("/Home/MyMeasurements")
        $('#connectedDevices').load("/Home/ConnectedDevices")
    </script>

}
