@using MenedżerBadań.ViewModels
@model MojeBadaniaViewData
@{
    ViewData["Title"] = "Moje Badania";
    
}

    <h1 class="display-4 text-center">Moje badania</h1>
    <div class="text-left">
    <ul>

    </ul>
    </div>

